// create mixins for media queries and flexbox settings 
@mixin center($w, $margin:0 auto, $display:block) {
    margin: $margin; 
    width: $w; 
    display: $display;
} 
@mixin btn($background-color, $color:white){
    display: block;
    margin-top: 25px;
    padding: 15px;
    border-radius: 5px;
    background-color: $background-color;
    color: $color;
    font-size: 14px;
    text-transform: uppercase;
}
@mixin col-layout($background-color){
    padding: 10px;
    border-radius: 5px;
    background-color: $background-color;
    color: $col-text-color;
    font-size: 14px;
    margin: 10px;
    overflow: hidden;

}
@mixin mq-display($display) {
    @media screen and (min-width: $desktop-view-size) {
        @if($display=='flex'){ 
            display: flex;
            @content;
        } @else {
            display: inline-block;
            @content;
        } 
    }  
}
@mixin mq-max-width {
    @media screen and (min-width: $desktop-view-size) {
       max-width: 1000px;
    } 
}
