//this style the login button 
.grid__row {
    .theme__colors{
        @include center(95%, 0 auto); 
        margin-top: 20px;
    }
}
// this styles the buttons section to be flex
.grid__row {
    .grid__col--12{
        @include mq-display(flex){
             width: 100%;
        }
        .theme__colors {
            @media screen and (min-width: $desktop-view-size){
                margin: 5px;
            }
        }
    }
}
.btn--default.theme__colors {
    @include btn($accent-color-adjust-hue);
}
.btn--success.theme__colors {
    @include btn($btn-color-success);
}
.btn--error.theme__colors {
    @include btn($btn-color-error); 
}
.btn--warning.theme__colors {
    @include btn($btn-color-warning);
}
.btn--info.theme__colors {
    @include btn($btn-color-info);
}