.form {
    .img--avatar {
        display: block;
        width: auto;
        margin: 30px auto;
    }
}
.form__input {
    display: block;
    width: auto;
    margin: 0 auto;
}
.btn--default {
    display: block;
    width: auto;
    margin: 0 auto;
    margin-top: 25px;
}
