
.form__input {
    @include center(90%); 
    display: block;
    border: none;
    border-bottom: 6px solid $accent-color; 
    font-size: 14px;
    padding: 10px;
        &:focus {
            // for accessiblity, make sure to replace the outline with another form of focus state. 
            outline: none;
            background-color:lightgoldenrodyellow;
        }
}
// label set to transparent to make sure screen readers can still read the element. 
.form__label--hidden {
    color: transparent; 
}
.form {
    @media screen and(min-width: $desktop-view-size){
        width: 300px;
    }
}