.container {
  @include center(85%);
  @include mq-max-width;
      
}
.grid__row {
    margin-top: 35px;
    @include mq-display(flex){
        justify-content: space-around; 
    } 
}
// to calculate grid widths, do 12/col--num = x, 100/x= your percentage. 
.grid__col--12.theme__colors {
    @include col-layout(rgb(53, 207, 187));
    @media screen and (min-width: $desktop-view-size){
        width: 100%;
        text-align: center;
    };
}
.grid__col--6.theme__colors {
    @include col-layout(rgba(17, 136, 192, 0.849));
    @media screen and (min-width: $desktop-view-size){
        width: 50%;
        text-align: center;
    };
}
.grid__col--4.theme__colors {
    @include col-layout(rgba(71, 236, 248, 0.74));
    @media screen and (min-width: $desktop-view-size){
        width: 33.33%;
        text-align: center;
    };
}
.grid__col--3.theme__colors {
    @include col-layout(rgb(201, 155, 228));
    @media screen and (min-width: $desktop-view-size){
        width: 25%;
        text-align: center;
    };
}
.grid__col--5.theme__colors {
    @include col-layout(rgba(105, 209, 105, 0.733));
    @media screen and (min-width: $desktop-view-size){
        width: 41.6%;
        text-align: center;
    };
}
.grid__col--7.theme__colors {
    @include col-layout(rgb(228, 132, 115));
    @media screen and (min-width: $desktop-view-size){
        width: 58.8%;
        text-align: center;
    };
}
.grid__col--8.theme__colors {
    @include col-layout(rgb(224, 154, 110)); 
    @media screen and (min-width: $desktop-view-size){
        width: 66.67%;
        text-align: center;
    };
}
// targeting .grid__col--12 in grid systems in order to center the text in desktop view. 
.headline--secondary+.grid__row {
    .grid__col--12.theme__colors {
        @media screen and (min-width: $desktop-view-size){
            display: inline-block; 
        }
    }
}
 
