.nav__item {
    padding: 12px 150px;
    margin: 10px;
    text-align: center;
    list-style: none; 
        :hover {
            background-color: rgba(30, 228, 168, 0.658);
            padding: 12px 150px; 
            color: white; 
            border-radius: 8px;
        }
    

}