
.nav {
    padding: 0; 
}
.nav__item {
    padding: 15px 150px;
    margin: 10px;
    text-align: center;
    list-style: none; 
        &:hover {
            border-radius: 5px;
            background-color:$accent-color; 
        }
        &:hover a{
            color:white;
        }
}
